
.mainContainer{
    width:100%;
    height:90vh;
    margin:auto;

    display: flex;
    flex-direction: column;
}


.authContainer{
    width: 40%;
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #F2F2F2;
    border-radius:20px;
    padding:3%;

    box-shadow: 1px 1px 50px rgba(255, 255, 255, 0.2);
}

.title{
    font-size: 30px;
    font-weight: 800;
    color: #0D0D0D;
}

.formContainer{
    margin-top:5%;
    width: 100%;
}

.formContainer > form{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.formContainer > form > input{
    display: block;
}

.inputValueContainer{
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;

    position:relative;

    margin-bottom:3%;
}

.inputValueContainer > div:nth-child(1){

    width:auto;
    text-align:center;

    position:absolute;
    top:-18%;

    background:#F2F2F2;

    font-weight: 200;
}


.inputValue{
    outline: none;
    color:#0D0D0D;

    width:85%;

    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;

    border:1px solid black;
    border-radius:0px;
    padding: 4% 7% 4% 4%;

    background: #F2F2F2;

    margin:auto;
}

.forgetPassword{
    color:#0D0D0D;

    width:auto;
    text-decoration: underline;
    font-weight:400;

    margin-bottom:5%;
}

.submitButton{
    border:none;
    border-radius:20px;
    background: #614ED9;
    color:#F2F2F2;

    width:30%;
    padding:2% 3%;

    font-size:18px;
    font-weight:600;
    box-shadow: 1px 1px 40px rgba(78, 53, 242, 0.4);;
}

.labelForInput{
    width:55%;

    font-size:18px;
    font-weight:600;

    margin-bottom:1%;
    text-decoration: underline;
}

.textForMove{
    color:#75D966;
    text-align:center;

    margin-top:2%;

    font-size:20px;
    font-weight:100;
    letter-spacing:1px;
    text-shadow: 1px 1px 20px rgba(117, 217, 102, 0.4);

}

.funcFormBut{
    display: flex;
    justify-content: space-between;
    width:55%;
}

