
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    padding:4%;

    overflow: hidden;
}

.info1, .info2{
    background: #F2F2F2;
    color: #0D0D0D;

    min-height: 15vh;

    width:60%;

    padding: 2% 2%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius:15px;

    cursor: pointer;

    box-shadow: 1px 1px 20px rgba(255, 255, 255, 0.4);
}

.info2{
    width:30%;
}

.infoTitle{
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom:1vh;
}

.infoText{
    margin: 1% 0% 2% 0%;
}

.infoEnd{
    font-weight: 200;
}